[submodule "checkbox451_bot"]
	path = checkbox451_bot
	url = https://github.com/checkbox451/checkbox451_bot.git
[submodule "srso_signer"]
	path = srso_signer
	url = https://github.com/checkbox451/srso_signer.git
